@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body {
    
   
    background-image: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)),url(bg1.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}



.intro {
    font-size: 2 rem;
    padding-left: 100px;
}

.sample {
    width: 200px;
    top: 0;
    left: 0;
}

h1 {
    
    color: white;
    margin-left:550px ;
    margin-top: 30px;
    font-size: 50px;
    width: 100%;
    position: absolute;
    font-family: 'Lobster', cursive;
    transform: translateY(-50%);
    
    
}

.box {
    padding-left: 500px;
    padding-right: 200px;
    margin: auto;
    position: absolute;
}

button{
    width: 120px;
    height: 47px;
    padding: 5px 0;
    text-align: center;
    font-size: 20px;
    margin: 10px 5px;
    border-radius: 30px;
    font-weight: bold ;
    border: 3px solid #f55e70;
    cursor: pointer;
    color: white;
    background: transparent;
    position: relative;
    overflow: hidden;
}



button:hover {
    color: #28194a;
    background: linear-gradient(#eee, #f55e70);
    width: 120px;
    font-size: 20px;
    border-radius: 30px;
    position: relative;
    left: 0;
    bottom: 0;
    z-index: -1;
    
    
}


a {
    text-decoration: none;
}

.logo{
    width: 140px;
    cursor: pointer;
    
}

.ups{
    background: -webkit-linear-gradient(#eee, #f55e70);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.name{
    color: white;
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: bold;
    text-align: left ;
    transform: translateY(20%);


    position: absolute;
    margin-left: 150px;
}

.navbar{
    width: 85%;
    font-size: 1.2rem;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li{
    list-style: none;
    display:inline-block;
    margin: 0 20px;
    position:relative;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #f55e70;
    position:absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

input[type="file"] {
    display: none;

}

.upload{

   
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    height: 48px;
    
    text-align: center;
    font-size: 20px;
   
    border-radius: 30px;
    font-weight: bold ;
    border: 3px solid #f55e70;
    cursor: pointer;
    color: white;
    background: transparent;
   


}

.upload:hover{
    color: #28194a;
    background: linear-gradient(#eee,#f55e70 );
    
    font-size: 20px;
    border-radius: 30px;
    border: 3px solid #f55e70;
    position: relative;
    left: 0;
    bottom: 0;
    z-index: -1;

}

.choose{
    margin-left: 570px;
    margin-top: 350px;
}

.ab{
    margin-left: 880px;
    margin-top: -64px;
}

.idx{
    width: 600px; 
    height: 300px;
    margin-top: 20px;
    opacity: 60%;
    border-radius: 25px;
}