@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(bg1.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.navbar {
    width: 85%;
    font-size: 1.2rem;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #f55e70;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.logo {
    width: 140px;
    cursor: pointer;
}

.name {
    color: white;
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: bold;
    text-align: left;
    transform: translateY(20%);
    position: absolute;
    margin-left: 150px;
}

.ups {
    background: -webkit-linear-gradient(#eee, #f55e70);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.column {
    float: left;
    width: 30.33%;
    padding-left: 20px;
}


/* Clear floats after image containers */

.row::after {
    content: "";
    clear: both;
    display: table;
}

h1 {
    color: white;
    font-family: 'Lobster', cursive;
    margin-top: 20px;
    margin-left: 70px;
}

.a {
    margin-left: 200px;
}

table {
    margin-top: 35px;
    margin-left: 15px;
    margin-right: 30px;
    width: 120%;
    height: 70%;
    border: white 4px solid;
    border-style: ridge;
}

td {
    border: white 5px solid;
    border-style: groove;
    color: white;
    background: rgba(0, 0, 0, 0.50);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

th {
    border: white 5px solid;
    border-style: groove;
    color: #f55e70;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
}

.bt {
    margin-top: 30px;
    margin-left: 350px;
    color: #28194a;
    width: 180px;
    height: 60px;
    text-align: center;
    font-size: 30px;
    border-radius: 30px;
    font-weight: bold;
    border: 3px solid #f55e70;
    cursor: pointer;
    background: linear-gradient(#eee, #f55e70);
    position: fixed;
    overflow: hidden;
}

a {
    color: #28194a;
}

a:hover {
    color: white;
}

.bt:hover {
    margin-top: 30px;
    margin-left: 350px;
    color: white;
    background: transparent;
    width: 180px;
    height: 60px;
    font-size: 30px;
    border-radius: 30px;
    position: fixed;
}
