@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
    
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)),url(bg1.jpg);
    background-size: cover;
    background-position: center;
   
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 140px;
    cursor: pointer;
    
}

.navbar ul li{
    list-style: none;
    display:inline-block;
    margin: 0 20px;
    position:relative;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #f55e70;
    position:absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    font-family: sans-serif;
    transform: translateY(-50%);
    text-align: center;
    color:white;
}

.name{
    color: white;
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: bold;
    text-align: left ;
    transform: translateY(20%);


    position: absolute;
    margin-left: 150px;
}

.ups{
    background: -webkit-linear-gradient(#eee, #f55e70);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content h1{
    font-size: 70px;
    margin-top: 80px;
    font-family: 'Lobster', cursive;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    font-size: 20px;
    line-height: 25px;
}

button{
    width: 300px;
    padding: 15px 0;
    text-align: center;
    font-size: 25px;
    margin: 20px 10px;
    border-radius: 28px;
    font-weight: bold ;
    border: 3px solid #f55e70;
    cursor: pointer;
    color: white;
    background: transparent;
    position: relative;
    overflow: hidden;
}



button:hover {
    color: #28194a;
    background: linear-gradient(#eee, #f55e70);
    width: 325px;
    
    border-radius: 28px;
    position: relative;
    left: 0;
    bottom: 0;
    z-index: -1;
    
    
}

